.header-content {
    display: flex;
    justify-content: space-between;
}

.yourChats {
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    border-radius: 9px;
}

.logout {
    padding: 10px;
    text-decoration: none;
    border-radius: 9px;
}