@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

html,body{
  margin: 0;
  padding: 0;
  background-color: rgb(18, 5, 5);
  color: white;
  font-family: "Roboto ital",serif;
}